PORT=5000
MONGODB_URI=mongodb+srv://princekrdss2018_db_user:lpzdaXWc7E1xhv9u@cluster0.afbzgpz.mongodb.net/?appName=Cluster0
NODE_ENV=development
JWT_SECRET=helloworld


DB_Password=lpzdaXWc7E1xhv9u
DB_USER=princekrdss2018_db_user